<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Service.Username" value=""/>
    <add key="Service.Password" value=""/>
    <add key="Flat.AccountNumber" value=""/>
    <add key="Service.Hostname" value=""/>
    <add key="MeteringDevice.DayId" value=""/>
    <add key="MeteringDevice.NightId" value=""/>
    <add key="MeteringDevice.ColdId" value=""/>
    <add key="MeteringDevice.HotId" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Main" connectionString="" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ModernRoute.WildData" publicKeyToken="615bc48465bfface" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.1.0" newVersion="0.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>