<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Kzn.Service.Username" value="" />
    <add key="Kzn.Service.Password" value="" />
    <add key="Kzn.AccountNumber" value="" />
    <add key="Kzn.Service.BaseUrl" value="" />
    <add key="Kzn.MeteringDevice.DayId" value="" />
    <add key="Kzn.MeteringDevice.NightId" value="" />
    <add key="Kzn.MeteringDevice.ColdId" value="" />
    <add key="Kzn.MeteringDevice.HotId" value="" />
    <add key="Kzn.Enabled" value="false" />
    <add key="Spb.Service.Username" value="" />
    <add key="Spb.Service.Password" value="" />
    <add key="Spb.AccountNumber" value="" />
    <add key="Spb.Service.BaseUrl" value="" />
    <add key="Spb.MeteringDevice.DayLabel" value="" />
    <add key="Spb.MeteringDevice.NightLabel" value="" />
    <add key="Spb.MeteringDevice.KitchenColdLabel" value="" />
    <add key="Spb.MeteringDevice.KitchenHotLabel" value="" />
    <add key="Spb.MeteringDevice.BathroomColdLabel" value="" />
    <add key="Spb.MeteringDevice.BathroomHotLabel" value="" />
    <add key="Spb.Enabled" value="false" />
    <add key="Notifier.Telegram.BaseUrl" value="" />
    <add key="Notifier.Telegram.Token" value="" />
    <add key="Notifier.Telegram.ChatId" value="" />
    <add key="Notifier.Telegram.ProxyUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Main" connectionString="" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ModernRoute.WildData" publicKeyToken="615bc48465bfface" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.1.0" newVersion="0.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.5.0" newVersion="3.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>